a {
    color: inherit;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
	
}


.nav{

	&__contain{
		position: relative;
		display: flex;

		&--center{
			justify-content: center;
		}
		&--around{
			justify-content: space-around;
		}
		&--between{
			justify-content: space-between;
		}
	}

	&__menu{
		position: relative;
		display: flex;
		justify-content: space-between;
	}

	&__menu_item{
		position: relative;
		display: flex;

		padding: 5px;
		margin: 5px 10px;
	}
}